header{
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
}

.cabecera {
    display: inline-flex;
}

#logo {
    border: 1px solid black;
    width: 5vw;
    height: 5vw;
}

#cabecera {
    margin-top: 30px;
    margin-left: 100px;
}

body{
    background-color: bisque;
    margin-left: 300px;
    margin-top: 10px;
}