header{
    margin-bottom: 30px;
}

.cabecera {
    display: flex;
}

#logo {
    border: 1px solid black;
}

#cabecera {
    text-align: center;
}

body{
    margin-left: 300px;
    margin-top: 30px;
}